.row,
*[class~='col-'],
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;

    padding-top: 0 !important;
    margin-top: 0 !important;

    padding-right: 0 !important;
    margin-right: 0 !important;
}
